input[type="range"] {
  width: 360px;
}

input[type="range"]::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border: 2px solid #cfd4c5;
  background-color: #2d7dd2;
}

input[type="range"]:disabled::-moz-range-thumb {
  background-color: #edf2ef;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 2px;
  color: transparent;
  background-color: #edf2ef;
}

input[type="range"]:disabled::-moz-range-track {
    cursor: default;
}

input[type=range]::-moz-range-progress {
  background-color: #2d7dd2;
}

input[type=range]:disabled::-moz-range-progress {
  background-color: #6592c2;
}
